<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <title>SocketV1</title>
</head>
<body>

  <main id="main"></main>
    <br>
    <form>
        <input id="message" type="text">
        <br>
        <br>
        <input type="submit" value="send" id="button">
    </form>    
    
</body>
</html>